nav {
	padding-top: 10px;
	background-color: rgba(248, 248, 248, 1) !important;
	overflow: visible !important;
}

.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 130%;
}

nav.nav-center ul {
	text-align: center !important;
}
nav.nav-center ul li {
	display: inline !important;
	float: none !important;
}
nav.nav-center ul li a {
	display: inline-block !important;
}

.nav-wrapper {
	margin: 0 auto;
}
.brand-logo {
	height: 8vh !important;
}
.nav-header {
	background-color: #f8f8f8;
}
.brand-logo {
	height: 100%;
	background-color: rgba(248, 248, 248, 1);
	border-radius: 72px;
	width: 25%;
	box-shadow: 0 4px 1px -3px rgba(0, 0, 0, 0.5);
}

.nav-top {
	z-index: 9;
}

.marketing-text {
	float: right;
	margin: 0;
	padding: 0 6px 0 6px;
}
.nav-button {
	background-color: transparent !important;
	color: #1d131d !important;
	box-shadow: inset 0px 0px 0px 1px #1d131d !important;
}

.nav-button:hover {
	background-color: #4c1971 !important;
	color: #f8f8f8 !important;
	box-shadow: inset 0px 0px 0px 1px #4c1971 !important;
}

.nav-links {
	background-color: transparent !important;
	transition: width .5s ease, background-color .5s ease;
	color: #4c1971 !important;
	display: inline-block;
}

.li-nav {
	border-bottom: 5px solid transparent;
	height: 45px;
}

.li-nav:hover {
	border-bottom: 5px solid #4c1971;
	cursor: pointer;
}
.logo-image {
	height: 90%;
}
.marketing-icon {
	display: inline-flex;
	padding: 0 10px 0 10px;
	border-radius: 50%;
	height: 35px;
	z-index: 10;
}

.nav-sidebar-button {
	width: 54px;
	color: #4c1971;
}

.marketing-icon img {
	width: 28px;
	z-index: 10;
}
.sign-button {
	transition: 0.3s;
	background-color: transparent !important;
	border: 2px solid #4c1971;
	padding: 0 4px 0 4px;
	overflow: visible;
	color: #4c1971;
	line-height: normal;
	display: inline-block;
	align-items: center;
}

.nav-button-paragraph {
	padding: 0;
	vertical-align: middle;
	text-align: center !important;
	line-height: normal !important;
}

.sign-button:hover {
	background-color: #4c1971 !important;
	color: #f8f8f8 !important;
}

.sign-icon {
	height: auto !important;
	line-height: normal !important;
	vertical-align: middle;
	display: inline-flex;
	box-sizing: inherit !important;
}
/*
.skylinediv {
	width: 100vw;
	height: 100px;
	background: url("/img/tempskyline.png");
	background-size: 300px 100px;
	background-repeat: repeat-x;
	opacity: 0.15;
	position: absolute;
	margin-top: -100px;
	z-index: 1;
}

.trackdiv {
	width: 100vw;
	height: 15px;
	background: url("/img/track.png");
	background-size: 50px 15px;
	background-repeat: repeat-x;
	z-index: 10;
	position: relative;
}
*/

.car-container {
	overflow: hidden;
	z-index: 9;
}

.sidebar-trigger {
	height: 100% !important;
	line-height: 44px !important;
	display: inline !important;
}

.label-icon {
	height: 100% !important;
	line-height: 44px !important;
	display: inline !important;
}

.search-field {
	background-color: transparent !important;
}
