body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
   
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  min-height: 100vh;
  background: url(/img/bg.png) repeat;
}

#root {
  min-height: 100vh;
  flex: 1 0 auto;
}

.no-border {
  border: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-background-color {
  background-color: transparent !important;
}

.no-background-color:hover {
  background-color: #757575 !important;
}

.caption h3 {
  color :white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-shadow: 5px 5px #888888;
}

.slider .slides li .caption {
  width: auto !important;
  left: 60% !important;
  top: 65% !important;
}

.georgia {
  font-family: "Georgia", Georgia, serif;
}

.bold-text {
  font-weight: bold;
}

.park-name {
  font-size: 2em;
}

.park-menu-item {
  list-style-type: none;
}

.info-card {
  height: 25vh;
}

.card-image-tag {
  height: 15vh;
}