body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1;
}

.root-app {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
	min-height: 100vh;
	background-color: #f8f8f9;
}

#root {
	min-height: 100vh;
}

.no-border {
	border: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.no-background-color {
	background-color: transparent !important;
}

.no-background-color:hover {
	background-color: #757575 !important;
}

.caption h3 {
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	box-shadow: 5px 5px #888888;
}

.slider .slides li .caption {
	width: auto !important;
	left: 60% !important;
	top: 65% !important;
}

.georgia {
	font-family: "Georgia", Georgia, serif;
}

.bold-text {
	font-weight: bold;
}

.park-name {
	font-size: 2em;
}

.park-menu-item {
	list-style-type: none;
}

.info-card {
	height: 25vh;
}

.card-image-tag {
	height: 15vh;
}

.slides li img {
	border-radius: 6px 6px 0 0;
}

.slides li {
	border-radius: 6px 6px 0 0;
}
.slider .slides li {
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
		0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.slides {
	border-radius: 6px 6px 0 0;
	z-index: 1;
}

.slider .slides li img {
	position: relative;
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
		0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.slider .slides {
	background-color: #ffffff !important;
	height: 60vh !important;
}

.slider .indicators {
	bottom: 5% !important;
	z-index: 9;
}

.slider {
	height: 60vh !important;
	margin: 0 auto;
	width: 100% !important;
}
.slider .indicators .indicator-item {
	height: 12px !important;
	width: 12px !important;
	background-color: #d1d0d0 !important;
}

.slider .indicators .indicator-item.active {
	height: 18px !important;
	width: 18px !important;
	background-color: white !important;
}

.indicator-item {
	box-shadow: 0 0 10px black;
}

.table-item:hover {
	background-color: #f8f8f8 !important;
}

.cardiv {
	width: 50px;
	height: 25px;
	background-color: red;
	position: relative;
}
.attraction-img:hover {
	opacity: 1 !important;
}

.category-icon {
	display: inline-flex;
	padding: 10px;
	border-radius: 50%;
	height: 100%;
	z-index: 10;
}

.card-image {
	box-shadow: none !important;
}

.glow {
	font-family: 'Roboto', sans-serif;
	text-shadow: 0 2px 4px black;
}

.text-image {
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
}

.text-image span {
	color: white;
	font: bold 24px/45px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: rgb(0, 0, 0, 0.7); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
}

.text-image span.spacer {
	padding: 0 5px;
	background: transparent;
}

.name-div {
	z-index: 10;
	position: absolute;
	bottom: 25%;
	text-align: left;
	padding: 0 50px;
	width: 100%;
}

.name-div h2 {
	color: white;
	margin: 0;
}

.name-div span {
	color: white;
}

.attraction-header {
	color: rgba(0, 0, 0, 1);
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -9999px;
	left: -9999px;
	right: -9999px;
	bottom: -9999px;
	margin: auto;
	z-index: 3;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.detail-image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -9999px;
	left: -9999px;
	right: -9999px;
	bottom: -9999px;
	margin: auto;
	z-index: 3;
}

.overlay-detail {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -9999px;
	left: -9999px;
	right: -9999px;
	bottom: -9999px;
	margin: auto;
	z-index: 4;
	background-color: rgba(140, 156, 163, 0.6);
}

.detail-text {
	z-index: 10;
	position: absolute;
	left: 0%;
	top: 15%;
	padding: 0 50px;
}

.detail-text h2 {
	margin: 0;
}

.glow2 {
	font-family: 'Roboto', sans-serif;
	text-shadow: 0 1px 1px black;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
	white-space: normal !important;
}
